.hi-lo {
  overflow: hidden;
  display: flex;
}

.hi-lo p {
  margin-top: 0;
  font-size: 24pt;
}

.hi {
  float: left;
}

.lo p {
  text-align: right;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  flex-shrink: 0;
  min-width: 50%;
  min-height: 50%;
}

.temp {
  font-size: 100pt;
}

.text {
  font-family: BlinkMacSystemFont;
  font-weight: 100;
  float: left;
  width: 200px;
}

.weather {
  display: flex;
  padding: 20px 30px;
  float: left;
}
